<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Vista médico</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar paciente" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-datetime value="2021-03-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div *ngIf="isItemAvailable">
    <ion-list *ngFor="let i of items">
      <ion-item (click)="tabPaciente(i)">{{i}}</ion-item>
    </ion-list>
  </div>

  <div id="container" *ngIf="show">
    <strong class="capitalize">Seleccione un paciente</strong>
  </div>

  <!-- Datos de paciente -->
  <div [hidden]="!showstats">
    <ion-card>
      <ion-card-header *ngIf="paciente">
        <ion-card-title>{{paciente}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>TA&nbsp;120/80mmHg&nbsp;</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h1>FC&nbsp;85&nbsp;ppm</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h1>FR&nbsp;85&nbsp;rpm</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h1>StaO2&nbsp;95%</h1>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h1>Glucosa&nbsp;100mg/de</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h1>Temperatura&nbsp;36ºC</h1>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Diabético</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col style="text-align: left;">
              <ion-toggle color="primary" disabled></ion-toggle>
            </ion-col>
            <ion-col>
              <ion-item no-lines>
                <ion-select okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="brown">Tipo 1</ion-select-option>
                  <ion-select-option value="blonde">Tipo 2</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col style="text-align: right; margin: -1rem">
              <ion-icon name="arrow-forward-outline" style="zoom: 2;" color="primary"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              Grado de estres
            </ion-col>
            <ion-col style="text-align: right; margin: -1rem">
              <ion-icon name="arrow-forward-outline" style="zoom: 2;" color="primary"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              Movimiento
            </ion-col>
            <ion-col style="text-align: right; margin: -1rem">
              <ion-icon name="arrow-forward-outline" style="zoom: 2;" color="primary"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <canvas #movementCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab *ngIf="paciente" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="callDoctor()" color="danger">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>